[Unit]
Description=Ammend boot loader on successful kernel upgrades for TPM-backed FDE instances

# Runs after basic system initialization and local filesystems are mounted.
# This ensures a stable environment before proceeding to higher-level services.
After=sysinit.target local-fs.target

[Service]
Type=oneshot
# Only update boot loader if BootCurrent is the latest installed kernel
ExecStart=/usr/bin/nullbootctl -confirm-kernel-boot

[Install]
WantedBy=multi-user.target
